# Import necessary libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.neighbors import KNeighborsClassifier

from sklearn.linear_model import LinearRegression

import numpy as np
from sklearn.model_selection import KFold

from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

import os
import math

In [ ]:
# Mouting with google drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Config path and variable

In [ ]:
# Path to data folder
data_folder = '/content/drive/MyDrive/STUDYING/HK2 2020-2021/Modern Problems in Technology/'

# Choose one of 2 versions below:
# Uncomment below line to choose scaled data version
# data_version = 'data_processed_withscale.csv'|

# Uncomment below line to choose non-scaled data version
data_version = 'data_processed_withoutscale.csv'

## Reading data version

In [ ]:
data = pd.read_csv(os.path.join(data_folder, data_version))

data

          lat       lon        NO2  ...   pplt_dens    road_dens  cluster
0     21.0491  105.8831   0.000000  ...   27.722601  1828.880005        4
1     21.0491  105.8831   0.000000  ...   27.722601  1828.880005        4
2     21.0491  105.8831  41.310400  ...   27.722601  1828.880005        4
3     21.0491  105.8831  39.379204  ...   27.722601  1828.880005        4
4     21.0491  105.8831  39.901879  ...   27.722601  1828.880005        4
...       ...       ...        ...  ...         ...          ...      ...
5455  21.0197  105.8147  18.995833  ...  442.738007  4993.080078        5
5456  21.0197  105.8147  23.241667  ...  442.738007  4993.080078        5
5457  21.0197  105.8147  16.816667  ...  442.738007  4993.080078        5
5458  21.0197  105.8147  21.595833  ...  442.738007  4993.080078        5
5459  21.0197  105.8147  19.058333  ...  442.738007  4993.080078        5

[5460 rows x 15 columns]

In [ ]:
# data = data[data.cluster != 2]
# Unique cluster value
data['cluster'].unique()

array([4, 1, 2, 3, 0, 5])

## Remove Invalid NO2 values

In [ ]:
# Run this if you want to remove invalid no2 values

data = data[(data.NO2 > 0) & (data.NO2 < 100)]
data[data.NO2 > 100]

Empty DataFrame
Columns: [lat, lon, NO2, pblh, press, rh, tmp, wspd, dpt_00, dpt_06, dpt_12, dpt_18, pplt_dens, road_dens, cluster]
Index: []

## Drop useless columns

In [ ]:
def drop_cols(df):
  drops = ['dpt_06', 'dpt_12']
  for col in drops:
    if col in df:
      df.drop(col, axis='columns', inplace=True)

# drop_cols(data)

## Convert to numpy for feeding model

In [ ]:
X = data.drop('NO2', axis = 'columns')
X_arr = X.to_numpy()

y = data['NO2']
y_arr = y.to_numpy()

print(X.shape, y.shape)

(4679, 14) (4679,)

In [ ]:
X

          lat       lon        pblh  ...   pplt_dens    road_dens  cluster
2     21.0491  105.8831  326.197998  ...   27.722601  1828.880005        4
3     21.0491  105.8831  197.524994  ...   27.722601  1828.880005        4
4     21.0491  105.8831  287.825012  ...   27.722601  1828.880005        4
5     21.0491  105.8831  265.541992  ...   27.722601  1828.880005        4
6     21.0491  105.8831  358.341003  ...   27.722601  1828.880005        4
...       ...       ...         ...  ...         ...          ...      ...
5455  21.0197  105.8147  454.903015  ...  442.738007  4993.080078        5
5456  21.0197  105.8147  400.079010  ...  442.738007  4993.080078        5
5457  21.0197  105.8147  326.407013  ...  442.738007  4993.080078        5
5458  21.0197  105.8147  468.182007  ...  442.738007  4993.080078        5
5459  21.0197  105.8147  403.809998  ...  442.738007  4993.080078        5

[4679 rows x 14 columns]

In [ ]:
X.shape

(4679, 14)

In [ ]:
# List of RMSE on all folds
# rmses_rf = []
# mapes_rf = []
# r2s_rf = []

# rmses_lr = []
# mapes_lr = []
# r2s_lr = []

# Fold tracking
i = 1
# Depth of Random Forest
depth = 100
# Number of split
split_number = 10

map_depth_rmse = {}
map_depth_r2 = {}

# How many number want to round with loss (1.424 if precision =3 for example)
precision = 5

def get_key(dict, val):
  for key, value in dict.items():
        if val == value:
            return key

  return "key doesn't exist"

# kf = KFold(n_splits=split_number, random_state=None, shuffle=None)
# kf.get_n_splits(X)

# for train_index, test_index in kf.split(X):
#   min_rmse_rf = 10000
#   min_r2_rf = 10000
#   min_mape_rf = 10000

#   min_rmse_lr = 10000
#   min_r2_lr = 10000
#   min_mape_lr = 10000

#   # print("TRAIN:", train_index, "TEST:", test_index)
#   X_train, X_test = X_arr[train_index], X_arr[test_index]
#   y_train, y_test = y_arr[train_index], y_arr[test_index]
#   # print(len(train_index), len(test_index))

#   print('Fold {}:'.format(i))

  # Random Forest
for d in range(1, depth):
  kf = KFold(n_splits=split_number, random_state=None, shuffle=True)
  kf.get_n_splits(X)

  rmses_rf = []
  mapes_rf = []
  r2s_rf = []

  rmses_lr = []
  mapes_lr = []
  r2s_lr = []

  for train_index, test_index in kf.split(X):
    min_rmse_rf = 10000
    min_r2_rf = 10000
    min_mape_rf = 10000

    min_rmse_lr = 10000
    min_r2_lr = 10000
    min_mape_lr = 10000

    # print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X_arr[train_index], X_arr[test_index]
    y_train, y_test = y_arr[train_index], y_arr[test_index]
    # print(len(train_index), len(test_index))

    # print('Fold {}:'.format(i))
    rf = RandomForestRegressor(n_estimators = d, random_state = 20)
    rf.fit(X_train, y_train)
    rf_predicts = rf.predict(X_test)
    # Calculate RMSE
    rmse_rf = math.sqrt(mean_squared_error(y_test, rf_predicts))
    # Calculate R2 Score
    r2_rf = r2_score(y_test, rf_predicts)
    # Calculate mean absolute error (MAE NOT MAPE)
    # mape_rf = mean_absolute_error(y_test, rf_predicts)

    # With each depth, calculate and save losses of all fold
    rmses_rf.append(rmse_rf)
    r2s_rf.append(r2_rf)
    mapes_rf.append(min_mape_rf)

  # After each depth, save average loss to find best depth
  average_rmse_rf = round(np.average(rmses_rf), precision)
  average_r2_rf = round(np.average(r2s_rf), precision)

  map_depth_rmse[d] = average_rmse_rf
  map_depth_r2[d] = average_r2_rf
  
  print('Depth =', d)
  print('Average RMSE on all folds using Random Forest:', average_rmse_rf)
  print('Average R2 on all folds using Random Forest:', average_r2_rf)
  # print('Average MAPE on all folds using Random Forest:', np.average(mapes_rf))
  print()

# print(map_depth_rmse)
# print(map_depth_r2)

min_rmse = min(map_depth_rmse.values())
min_r2 = min(map_depth_r2.values())

print('Best depth for RMSE is {} with RMSE = {}'.format(get_key(map_depth_rmse, min_rmse), min_rmse))
print('Best depth for R2 is {} with R2 = {}'.format(get_key(map_depth_r2, min_r2), min_r2))

  # # Linear Regression
  # lr = LinearRegression()
  # lr.fit(X_train, y_train)
  # lr_predicts = lr.predict(X_test)
  # # Calculate RMSE
  # rmse_lr = math.sqrt(mean_squared_error(y_test, lr_predicts))
  # # Calculate R2 Score
  # r2_lr = r2_score(y_test, lr_predicts)
  # # Calculate mean absolute error (MAE NOT MAPE)
  # mape_lr = mean_absolute_error(y_test, lr_predicts)

  # if rmse_lr < min_rmse_lr:
  #   min_rmse_lr = rmse_lr
  # if r2_lr < min_r2_lr:
  #   min_r2_lr = r2_lr
  # if mape_lr < min_mape_lr:
  #   min_mape_lr = mape_lr

  # # a={'true': y_test, 'predict':predicts}
  # # display(pd.DataFrame(a))

  # rmses_lr.append(min_rmse_lr)
  # r2s_lr.append(min_r2_lr)
  # mapes_lr.append(min_mape_lr)

  # print('Min RMSE for Linear Regression:'.format(i), min_rmse_lr)
  # print('Min R2 for Linear Regression:'.format(i), min_r2_lr)
  # print('Min MAPE for Linear Regression:'.format(i), min_mape_lr)
  # print()
  # print()

  # i += 1

# print()
# print('Average RMSE on all folds using Linear Regression:', np.average(rmses_lr))
# print('Average R2 on all folds using Linear Regression:', np.average(r2s_lr))
# print('Average MAPE on all folds using Linear Regression:', np.average(mapes_lr))

Depth = 1
Average RMSE on all folds using Random Forest: 13.94362
Average R2 on all folds using Random Forest: 0.14204

Depth = 2
Average RMSE on all folds using Random Forest: 12.11647
Average R2 on all folds using Random Forest: 0.35329

Depth = 3
Average RMSE on all folds using Random Forest: 11.24943
Average R2 on all folds using Random Forest: 0.44165

Depth = 4
Average RMSE on all folds using Random Forest: 10.74682
Average R2 on all folds using Random Forest: 0.49128

Depth = 5
Average RMSE on all folds using Random Forest: 10.60709
Average R2 on all folds using Random Forest: 0.50461

Depth = 6
Average RMSE on all folds using Random Forest: 10.5632
Average R2 on all folds using Random Forest: 0.50794

Depth = 7
Average RMSE on all folds using Random Forest: 10.49598
Average R2 on all folds using Random Forest: 0.51403

Depth = 8
Average RMSE on all folds using Random Forest: 10.27498
Average R2 on all folds using Random Forest: 0.5348

Depth = 9
Average RMSE on all folds using Random Forest: 10.26838
Average R2 on all folds using Random Forest: 0.53421

Depth = 10
Average RMSE on all folds using Random Forest: 10.09096
Average R2 on all folds using Random Forest: 0.54975

Depth = 11
Average RMSE on all folds using Random Forest: 10.13048
Average R2 on all folds using Random Forest: 0.54756

Depth = 12
Average RMSE on all folds using Random Forest: 10.16928
Average R2 on all folds using Random Forest: 0.54476

Depth = 13
Average RMSE on all folds using Random Forest: 10.12739
Average R2 on all folds using Random Forest: 0.54767

Depth = 14
Average RMSE on all folds using Random Forest: 10.10675
Average R2 on all folds using Random Forest: 0.55085

Depth = 15
Average RMSE on all folds using Random Forest: 10.12092
Average R2 on all folds using Random Forest: 0.54904

Depth = 16
Average RMSE on all folds using Random Forest: 9.96915
Average R2 on all folds using Random Forest: 0.56137

Depth = 17
Average RMSE on all folds using Random Forest: 9.98135
Average R2 on all folds using Random Forest: 0.56055

Depth = 18
Average RMSE on all folds using Random Forest: 9.92989
Average R2 on all folds using Random Forest: 0.56577

Depth = 19
Average RMSE on all folds using Random Forest: 9.91482
Average R2 on all folds using Random Forest: 0.56672

Depth = 20
Average RMSE on all folds using Random Forest: 9.9239
Average R2 on all folds using Random Forest: 0.56677

Depth = 21
Average RMSE on all folds using Random Forest: 9.86964
Average R2 on all folds using Random Forest: 0.56925

Depth = 22
Average RMSE on all folds using Random Forest: 9.90087
Average R2 on all folds using Random Forest: 0.56834

Depth = 23
Average RMSE on all folds using Random Forest: 9.94623
Average R2 on all folds using Random Forest: 0.56251

Depth = 24
Average RMSE on all folds using Random Forest: 9.8512
Average R2 on all folds using Random Forest: 0.57069

Depth = 25
Average RMSE on all folds using Random Forest: 9.96383
Average R2 on all folds using Random Forest: 0.56242

Depth = 26
Average RMSE on all folds using Random Forest: 9.95276
Average R2 on all folds using Random Forest: 0.5625

Depth = 27
Average RMSE on all folds using Random Forest: 9.94104
Average R2 on all folds using Random Forest: 0.56425

Depth = 28
Average RMSE on all folds using Random Forest: 9.83107
Average R2 on all folds using Random Forest: 0.57481

Depth = 29
Average RMSE on all folds using Random Forest: 9.84816
Average R2 on all folds using Random Forest: 0.57169

Depth = 30
Average RMSE on all folds using Random Forest: 9.867
Average R2 on all folds using Random Forest: 0.57089

Depth = 31
Average RMSE on all folds using Random Forest: 9.83157
Average R2 on all folds using Random Forest: 0.57118

Depth = 32
Average RMSE on all folds using Random Forest: 9.83126
Average R2 on all folds using Random Forest: 0.57498

Depth = 33
Average RMSE on all folds using Random Forest: 9.85782
Average R2 on all folds using Random Forest: 0.5699

Depth = 34
Average RMSE on all folds using Random Forest: 9.93111
Average R2 on all folds using Random Forest: 0.56475

Depth = 35
Average RMSE on all folds using Random Forest: 9.8708
Average R2 on all folds using Random Forest: 0.56856

Depth = 36
Average RMSE on all folds using Random Forest: 9.82073
Average R2 on all folds using Random Forest: 0.57532

Depth = 37
Average RMSE on all folds using Random Forest: 9.80347
Average R2 on all folds using Random Forest: 0.57645

Depth = 38
Average RMSE on all folds using Random Forest: 9.72234
Average R2 on all folds using Random Forest: 0.58288

Depth = 39
Average RMSE on all folds using Random Forest: 9.77824
Average R2 on all folds using Random Forest: 0.57935

Depth = 40
Average RMSE on all folds using Random Forest: 9.79113
Average R2 on all folds using Random Forest: 0.57821

Depth = 41
Average RMSE on all folds using Random Forest: 9.75608
Average R2 on all folds using Random Forest: 0.58122

Depth = 42
Average RMSE on all folds using Random Forest: 9.83773
Average R2 on all folds using Random Forest: 0.57368

Depth = 43
Average RMSE on all folds using Random Forest: 9.76008
Average R2 on all folds using Random Forest: 0.57873

Depth = 44
Average RMSE on all folds using Random Forest: 9.83007
Average R2 on all folds using Random Forest: 0.57332

Depth = 45
Average RMSE on all folds using Random Forest: 9.83857
Average R2 on all folds using Random Forest: 0.57332

Depth = 46
Average RMSE on all folds using Random Forest: 9.74056
Average R2 on all folds using Random Forest: 0.58119

Depth = 47
Average RMSE on all folds using Random Forest: 9.79857
Average R2 on all folds using Random Forest: 0.57575

Depth = 48
Average RMSE on all folds using Random Forest: 9.84222
Average R2 on all folds using Random Forest: 0.57287

Depth = 49
Average RMSE on all folds using Random Forest: 9.78218
Average R2 on all folds using Random Forest: 0.57766

Depth = 50
Average RMSE on all folds using Random Forest: 9.78643
Average R2 on all folds using Random Forest: 0.57778

Depth = 51
Average RMSE on all folds using Random Forest: 9.75033
Average R2 on all folds using Random Forest: 0.58045

Depth = 52
Average RMSE on all folds using Random Forest: 9.80234
Average R2 on all folds using Random Forest: 0.57495

Depth = 53
Average RMSE on all folds using Random Forest: 9.74979
Average R2 on all folds using Random Forest: 0.58146

Depth = 54
Average RMSE on all folds using Random Forest: 9.74415
Average R2 on all folds using Random Forest: 0.58228

Depth = 55
Average RMSE on all folds using Random Forest: 9.78152
Average R2 on all folds using Random Forest: 0.57943

Depth = 56
Average RMSE on all folds using Random Forest: 9.76312
Average R2 on all folds using Random Forest: 0.57936

Depth = 57
Average RMSE on all folds using Random Forest: 9.78924
Average R2 on all folds using Random Forest: 0.57699

Depth = 58
Average RMSE on all folds using Random Forest: 9.7019
Average R2 on all folds using Random Forest: 0.58462

Depth = 59
Average RMSE on all folds using Random Forest: 9.67674
Average R2 on all folds using Random Forest: 0.58731

Depth = 60
Average RMSE on all folds using Random Forest: 9.7618
Average R2 on all folds using Random Forest: 0.57707

Depth = 61
Average RMSE on all folds using Random Forest: 9.7744
Average R2 on all folds using Random Forest: 0.57941

Depth = 62
Average RMSE on all folds using Random Forest: 9.71241
Average R2 on all folds using Random Forest: 0.58296

Depth = 63
Average RMSE on all folds using Random Forest: 9.74538
Average R2 on all folds using Random Forest: 0.58107

Depth = 64
Average RMSE on all folds using Random Forest: 9.75512
Average R2 on all folds using Random Forest: 0.57923

Depth = 65
Average RMSE on all folds using Random Forest: 9.77584
Average R2 on all folds using Random Forest: 0.58006

Depth = 66
Average RMSE on all folds using Random Forest: 9.69583
Average R2 on all folds using Random Forest: 0.58615

Depth = 67
Average RMSE on all folds using Random Forest: 9.71736
Average R2 on all folds using Random Forest: 0.58375

Depth = 68
Average RMSE on all folds using Random Forest: 9.83162
Average R2 on all folds using Random Forest: 0.574

Depth = 69
Average RMSE on all folds using Random Forest: 9.71424
Average R2 on all folds using Random Forest: 0.58406

Depth = 70
Average RMSE on all folds using Random Forest: 9.7988
Average R2 on all folds using Random Forest: 0.57708

Depth = 71
Average RMSE on all folds using Random Forest: 9.80699
Average R2 on all folds using Random Forest: 0.57603

Depth = 72
Average RMSE on all folds using Random Forest: 9.70337
Average R2 on all folds using Random Forest: 0.58514

Depth = 73
Average RMSE on all folds using Random Forest: 9.77311
Average R2 on all folds using Random Forest: 0.57806

Depth = 74
Average RMSE on all folds using Random Forest: 9.74187
Average R2 on all folds using Random Forest: 0.58101

Depth = 75
Average RMSE on all folds using Random Forest: 9.85407
Average R2 on all folds using Random Forest: 0.5721

Depth = 76
Average RMSE on all folds using Random Forest: 9.75033
Average R2 on all folds using Random Forest: 0.58173

Depth = 77
Average RMSE on all folds using Random Forest: 9.76382
Average R2 on all folds using Random Forest: 0.58031

Depth = 78
Average RMSE on all folds using Random Forest: 9.73754
Average R2 on all folds using Random Forest: 0.58091

Depth = 79
Average RMSE on all folds using Random Forest: 9.79498
Average R2 on all folds using Random Forest: 0.57718

Depth = 80
Average RMSE on all folds using Random Forest: 9.70457
Average R2 on all folds using Random Forest: 0.58443

Depth = 81
Average RMSE on all folds using Random Forest: 9.69894
Average R2 on all folds using Random Forest: 0.58572

Depth = 82
Average RMSE on all folds using Random Forest: 9.78614
Average R2 on all folds using Random Forest: 0.57816

Depth = 83
Average RMSE on all folds using Random Forest: 9.74277
Average R2 on all folds using Random Forest: 0.57922

Depth = 84
Average RMSE on all folds using Random Forest: 9.71794
Average R2 on all folds using Random Forest: 0.58387

Depth = 85
Average RMSE on all folds using Random Forest: 9.80775
Average R2 on all folds using Random Forest: 0.57586

Depth = 86
Average RMSE on all folds using Random Forest: 9.7468
Average R2 on all folds using Random Forest: 0.58153

Depth = 87
Average RMSE on all folds using Random Forest: 9.7437
Average R2 on all folds using Random Forest: 0.58032

Depth = 88
Average RMSE on all folds using Random Forest: 9.7077
Average R2 on all folds using Random Forest: 0.58316

Depth = 89
Average RMSE on all folds using Random Forest: 9.8036
Average R2 on all folds using Random Forest: 0.5771

Depth = 90
Average RMSE on all folds using Random Forest: 9.70998
Average R2 on all folds using Random Forest: 0.58503

Depth = 91
Average RMSE on all folds using Random Forest: 9.79216
Average R2 on all folds using Random Forest: 0.57529

Depth = 92
Average RMSE on all folds using Random Forest: 9.79008
Average R2 on all folds using Random Forest: 0.57852

Depth = 93
Average RMSE on all folds using Random Forest: 9.74676
Average R2 on all folds using Random Forest: 0.58211

Depth = 94
Average RMSE on all folds using Random Forest: 9.62709
Average R2 on all folds using Random Forest: 0.58856

Depth = 95
Average RMSE on all folds using Random Forest: 9.72537
Average R2 on all folds using Random Forest: 0.58292

Depth = 96
Average RMSE on all folds using Random Forest: 9.68176
Average R2 on all folds using Random Forest: 0.58699

Depth = 97
Average RMSE on all folds using Random Forest: 9.63045
Average R2 on all folds using Random Forest: 0.59161

Depth = 98
Average RMSE on all folds using Random Forest: 9.73939
Average R2 on all folds using Random Forest: 0.58221

Depth = 99
Average RMSE on all folds using Random Forest: 9.77524
Average R2 on all folds using Random Forest: 0.57804

Best depth for RMSE is 94 with RMSE = 9.62709
Best depth for R2 is 1 with R2 = 0.14204

In [ ]:
max_r2 = max(map_depth_r2.values())
print('Best depth for R2 is {} with R2 = {}'.format(get_key(map_depth_r2, max_r2), max_r2))

Best depth for R2 is 97 with R2 = 0.59161