# Import necessary libraries

In [ ]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.neighbors import KNeighborsClassifier

from sklearn.linear_model import LinearRegression

import numpy as np
from sklearn.model_selection import KFold

from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error

import os
import math
import copy

In [ ]:
# Mouting with google drive

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Config path and variable

In [ ]:
data_folder = '/content/drive/MyDrive/Modern Problems in Technology'

# Choose one of 2 versions below:
# Uncomment below line to choose scaled data version
# data_version = 'data_processed_withscale.csv'

# Uncomment below line to choose non-scaled data version
data_version = 'data_processed_withscale.csv'


data = pd.read_csv(os.path.join(data_folder, data_version))

data

          lat       lon        NO2  ...  pplt_dens  road_dens  cluster
0     21.0491  105.8831   0.000000  ...   0.062616   0.204322        4
1     21.0491  105.8831   0.000000  ...   0.062616   0.204322        4
2     21.0491  105.8831  41.310400  ...   0.062616   0.204322        4
3     21.0491  105.8831  39.379204  ...   0.062616   0.204322        4
4     21.0491  105.8831  39.901879  ...   0.062616   0.204322        4
...       ...       ...        ...  ...        ...        ...      ...
5455  21.0197  105.8147  18.995833  ...   1.000000   0.793592        4
5456  21.0197  105.8147  23.241667  ...   1.000000   0.793592        4
5457  21.0197  105.8147  16.816667  ...   1.000000   0.793592        1
5458  21.0197  105.8147  21.595833  ...   1.000000   0.793592        1
5459  21.0197  105.8147  19.058333  ...   1.000000   0.793592        4

[5460 rows x 15 columns]

## Reading data version

In [ ]:
data = pd.read_csv(os.path.join(data_folder, data_version))

data

          lat       lon        NO2  ...  pplt_dens  road_dens  cluster
0     21.0491  105.8831   0.000000  ...   0.062616   0.204322        4
1     21.0491  105.8831   0.000000  ...   0.062616   0.204322        4
2     21.0491  105.8831  41.310400  ...   0.062616   0.204322        4
3     21.0491  105.8831  39.379204  ...   0.062616   0.204322        4
4     21.0491  105.8831  39.901879  ...   0.062616   0.204322        4
...       ...       ...        ...  ...        ...        ...      ...
5455  21.0197  105.8147  18.995833  ...   1.000000   0.793592        4
5456  21.0197  105.8147  23.241667  ...   1.000000   0.793592        4
5457  21.0197  105.8147  16.816667  ...   1.000000   0.793592        1
5458  21.0197  105.8147  21.595833  ...   1.000000   0.793592        1
5459  21.0197  105.8147  19.058333  ...   1.000000   0.793592        4

[5460 rows x 15 columns]

In [ ]:
# data = data[data.cluster != 2]
# Unique cluster value
data['cluster'].unique()

array([4, 3, 1, 0, 2])

## Remove Invalid NO2 values

In [ ]:
# Run this if you want to remove invalid no2 values

data = data[(data.NO2 > 0) & (data.NO2 < 100)]
data[data.NO2 > 100]

Empty DataFrame
Columns: [lat, lon, NO2, pblh, press, rh, tmp, wspd, dpt_00, dpt_06, dpt_12, dpt_18, pplt_dens, road_dens, cluster]
Index: []

## Drop some columns of data

In [ ]:
def drop_cols(df, colName):
    if colName in df:
      df.drop(colName, axis='columns', inplace=True)

# drop_cols(data, "press")

## Create multiple datatset by dropping each colums of original dataset

In [ ]:
columns = data.columns
# for col in range(3, 15):
#   print(columns[col])
dropDatas = [data]
# print(dropDatas[0])
for i in range(3, 15):
  print(columns[i])
  data_copy = copy.deepcopy(data)
  drop_cols(data_copy, columns[i])
  dropDatas.append(data_copy)
  # print(len(dropDatas[i-3].columns))
len(dropDatas)

pblh
press
rh
tmp
wspd
dpt_00
dpt_06
dpt_12
dpt_18
pplt_dens
road_dens
cluster

13

In [ ]:
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100
len(columns)

15

## Convert to numpy for feeding model

In [ ]:
for idx in range(2, 15):
  print("---------------------------------------------")
  print("I: " + str(idx))
  tmpData = dropDatas[idx-2]
  X = tmpData.drop('NO2', axis = 'columns')
  X_arr = X.to_numpy()

  y = tmpData['NO2']
  y_arr = y.to_numpy()

  print(X.shape, y.shape)


  # List of RMSE on all folds
  rmses_rf = []
  mapes_rf = []
  r2s_rf = []

  rmses_lr = []
  mapes_lr = []
  r2s_lr = []

  # Fold tracking
  i = 1
  # Depth of Random Forest
  depth = 50
  # Number of split
  split_number = 5

  kf = KFold(n_splits=split_number, random_state=None, shuffle=True)
  kf.get_n_splits(X)

  for train_index, test_index in kf.split(X):
    min_rmse_rf = 10000
    min_r2_rf = 10000
    min_mape_rf = 10000

    min_rmse_lr = 10000
    min_r2_lr = 10000
    min_mape_lr = 10000

    # print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X_arr[train_index], X_arr[test_index]
    y_train, y_test = y_arr[train_index], y_arr[test_index]
    print(len(train_index), len(test_index))

    print('Fold {}:'.format(i))

    # Random Forest
    for d in range(1, depth):
      rf = RandomForestRegressor(n_estimators = d, random_state = 20)
      rf.fit(X_train, y_train)
      rf_predicts = rf.predict(X_test)
      # Calculate RMSE
      rmse_rf = math.sqrt(mean_squared_error(y_test, rf_predicts))
      # Calculate R2 Score
      r2_rf = r2_score(y_test, rf_predicts)
      # Calculate mean absolute error (MAE NOT MAPE)
      # mape_rf = mean_absolute_error(y_test, rf_predicts)
      mape_rf = mean_absolute_percentage_error(y_test, rf_predicts)
      
      # Saving best errors
      if rmse_rf < min_rmse_rf:
        min_rmse_rf = rmse_rf
      if r2_rf < min_r2_rf:
        min_r2_rf = r2_rf
      if mape_rf < min_mape_rf:
        min_mape_rf = mape_rf

    rmses_rf.append(min_rmse_rf)
    r2s_rf.append(min_r2_rf)
    mapes_rf.append(min_mape_rf)

    print('Min RMSE for Random Forest:'.format(i), min_rmse_rf)
    print('Min R2 for Random Forest:'.format(i), min_r2_rf)
    print('Min MAPE for Random Forest:'.format(i), min_mape_rf)
    print()

    # Linear Regression
    lr = LinearRegression()
    lr.fit(X_train, y_train)
    lr_predicts = lr.predict(X_test)
    # Calculate RMSE
    rmse_lr = math.sqrt(mean_squared_error(y_test, lr_predicts))
    # Calculate R2 Score
    r2_lr = r2_score(y_test, lr_predicts)
    # Calculate mean absolute error (MAE NOT MAPE)
    # mape_lr = mean_absolute_error(y_test, lr_predicts)
    mape_lr = mean_absolute_percentage_error(y_test, rf_predicts)

    if rmse_lr < min_rmse_lr:
      min_rmse_lr = rmse_lr
    if r2_lr < min_r2_lr:
      min_r2_lr = r2_lr
    if mape_lr < min_mape_lr:
      min_mape_lr = mape_lr

    # a={'true': y_test, 'predict':predicts}
    # display(pd.DataFrame(a))

    rmses_lr.append(min_rmse_lr)
    r2s_lr.append(min_r2_lr)
    mapes_lr.append(min_mape_lr)

    print('Min RMSE for Linear Regression:'.format(i), min_rmse_lr)
    print('Min R2 for Linear Regression:'.format(i), min_r2_lr)
    print('Min MAPE for Linear Regression:'.format(i), min_mape_lr)
    print()
    print()

    i += 1
  if (idx == 2):
      print("Original data")
      print()
  else:
      print("Data without " + columns[idx])
      print()
  print()
  print('Average RMSE on all folds using Random Forest:', np.average(rmses_rf))
  print('Average R2 on all folds using Random Forest:', np.average(r2s_rf))
  print('Average MAPE on all folds using Random Forest:', np.average(mapes_rf))

  print()
  print('Average RMSE on all folds using Linear Regression:', np.average(rmses_lr))
  print('Average R2 on all folds using Linear Regression:', np.average(r2s_lr))
  print('Average MAPE on all folds using Linear Regression:', np.average(mapes_lr))

---------------------------------------------
I: 2
(4679, 14) (4679,)
3743 936
Fold 1:
Min RMSE for Random Forest: 9.991604866911246
Min R2 for Random Forest: 0.1489616178816443
Min MAPE for Random Forest: 36.59173906842607

Min RMSE for Linear Regression: 13.84938686261356
Min R2 for Linear Regression: 0.12694230556182384
Min MAPE for Linear Regression: 36.60675456622807


3743 936
Fold 2:
Min RMSE for Random Forest: 9.8128567040693
Min R2 for Random Forest: 0.1884066117753448
Min MAPE for Random Forest: 42.39700522461175

Min RMSE for Linear Regression: 13.868755334729949
Min R2 for Linear Regression: 0.15895055061724173
Min MAPE for Linear Regression: 42.687118858214056


3743 936
Fold 3:
Min RMSE for Random Forest: 10.103970646087406
Min R2 for Random Forest: 0.14929667673031344
Min MAPE for Random Forest: 33.46783444396152

Min RMSE for Linear Regression: 14.244384759273736
Min R2 for Linear Regression: 0.13752686938473557
Min MAPE for Linear Regression: 33.50154888291777


3743 936
Fold 4:
Min RMSE for Random Forest: 9.757729662943554
Min R2 for Random Forest: 0.14552230645775677
Min MAPE for Random Forest: 36.43113464560549

Min RMSE for Linear Regression: 13.98340448614475
Min R2 for Linear Regression: 0.1366013521313253
Min MAPE for Linear Regression: 36.744723170395574


3744 935
Fold 5:
Min RMSE for Random Forest: 9.72410775588658
Min R2 for Random Forest: 0.06210210246888059
Min MAPE for Random Forest: 55.74142169749506

Min RMSE for Linear Regression: 13.728017112848608
Min R2 for Linear Regression: 0.17385365524620566
Min MAPE for Linear Regression: 56.65412349933055


Original data


Average RMSE on all folds using Random Forest: 9.878053927179618
Average R2 on all folds using Random Forest: 0.13885786306278797
Average MAPE on all folds using Random Forest: 40.92582701601998

Average RMSE on all folds using Linear Regression: 13.934789711122122
Average R2 on all folds using Linear Regression: 0.14677494658826643
Average MAPE on all folds using Linear Regression: 41.2388537954172
---------------------------------------------
I: 3
(4679, 13) (4679,)
3743 936
Fold 1:
Min RMSE for Random Forest: 9.502915954391888
Min R2 for Random Forest: 0.1514807673956955
Min MAPE for Random Forest: 32.90298519600215

Min RMSE for Linear Regression: 13.830118868886595
Min R2 for Linear Regression: 0.15954710300300678
Min MAPE for Linear Regression: 33.05550404701238


3743 936
Fold 2:
Min RMSE for Random Forest: 10.144475859880096
Min R2 for Random Forest: 0.047043321300574203
Min MAPE for Random Forest: 35.9338961399763

Min RMSE for Linear Regression: 14.159996435748429
Min R2 for Linear Regression: 0.0993959505935813
Min MAPE for Linear Regression: 35.981273148624126


3743 936
Fold 3:
Min RMSE for Random Forest: 9.924796493434977
Min R2 for Random Forest: 0.15246276119364244
Min MAPE for Random Forest: 62.360310424074186

Min RMSE for Linear Regression: 13.893173624968309
Min R2 for Linear Regression: 0.15032493819017567
Min MAPE for Linear Regression: 63.37789401930301


3743 936
Fold 4:
Min RMSE for Random Forest: 9.606631492028349
Min R2 for Random Forest: 0.2500842905236986
Min MAPE for Random Forest: 36.5957479656997

Min RMSE for Linear Regression: 13.870972497779253
Min R2 for Linear Regression: 0.1726510456483884
Min MAPE for Linear Regression: 36.60931450813144


3744 935
Fold 5:
Min RMSE for Random Forest: 9.9450320009975
Min R2 for Random Forest: 0.1918058472462677
Min MAPE for Random Forest: 35.342430700775026

Min RMSE for Linear Regression: 14.060141506616327
Min R2 for Linear Regression: 0.13839759770506443
Min MAPE for Linear Regression: 35.53346633490172


Data without pblh


Average RMSE on all folds using Random Forest: 9.824770360146562
Average R2 on all folds using Random Forest: 0.1585753975319757
Average MAPE on all folds using Random Forest: 40.62707408530547

Average RMSE on all folds using Linear Regression: 13.962880586799784
Average R2 on all folds using Linear Regression: 0.1440633270280433
Average MAPE on all folds using Linear Regression: 40.911490411594535
---------------------------------------------
I: 4
(4679, 13) (4679,)
3743 936
Fold 1:
Min RMSE for Random Forest: 9.719561855731202
Min R2 for Random Forest: 0.16312665348870348
Min MAPE for Random Forest: 34.84627484219744

Min RMSE for Linear Regression: 14.104495715990666
Min R2 for Linear Regression: 0.14418529732608376
Min MAPE for Linear Regression: 34.92943293791038


3743 936
Fold 2:
Min RMSE for Random Forest: 9.806324200690879
Min R2 for Random Forest: 0.15884186549940182
Min MAPE for Random Forest: 46.500298902306994

Min RMSE for Linear Regression: 13.83043685172731
Min R2 for Linear Regression: 0.14273588398795733
Min MAPE for Linear Regression: 47.433851476205376


3743 936
Fold 3:
Min RMSE for Random Forest: 9.8410677413373
Min R2 for Random Forest: 0.20347520711856282
Min MAPE for Random Forest: 53.811908790227235

Min RMSE for Linear Regression: 13.687742722626126
Min R2 for Linear Regression: 0.17656035179116103
Min MAPE for Linear Regression: 57.17468333779563


3743 936
Fold 4:
Min RMSE for Random Forest: 10.566785521531388
Min R2 for Random Forest: 0.12881691009269858
Min MAPE for Random Forest: 34.05712448866734

Min RMSE for Linear Regression: 14.543248280785987
Min R2 for Linear Regression: 0.07456999051878821
Min MAPE for Linear Regression: 34.37733810039076


3744 935
Fold 5:
Min RMSE for Random Forest: 9.48339212099148
Min R2 for Random Forest: 0.21853138848158116
Min MAPE for Random Forest: 33.75191921979479

Min RMSE for Linear Regression: 13.7341576412075
Min R2 for Linear Regression: 0.17186136105326844
Min MAPE for Linear Regression: 33.78580695532511


Data without press


Average RMSE on all folds using Random Forest: 9.88342628805645
Average R2 on all folds using Random Forest: 0.17455840493618957
Average MAPE on all folds using Random Forest: 40.593505248638756

Average RMSE on all folds using Linear Regression: 13.980016242467519
Average R2 on all folds using Linear Regression: 0.14198257693545174
Average MAPE on all folds using Linear Regression: 41.540222561525454
---------------------------------------------
I: 5
(4679, 13) (4679,)
3743 936
Fold 1:
Min RMSE for Random Forest: 9.521846143562009
Min R2 for Random Forest: 0.14613873794732668
Min MAPE for Random Forest: 55.90767500033317

Min RMSE for Linear Regression: 13.952822054912716
Min R2 for Linear Regression: 0.1366992537534587
Min MAPE for Linear Regression: 60.617702936301676


3743 936
Fold 2:
Min RMSE for Random Forest: 10.219016025757883
Min R2 for Random Forest: 0.08297012600252207
Min MAPE for Random Forest: 34.69111762269212

Min RMSE for Linear Regression: 13.851330211170332
Min R2 for Linear Regression: 0.1422020873535268
Min MAPE for Linear Regression: 34.99397659073339


3743 936
Fold 3:
Min RMSE for Random Forest: 9.720820504794753
Min R2 for Random Forest: 0.19223443177915067
Min MAPE for Random Forest: 34.98043076116278

Min RMSE for Linear Regression: 13.737633130360898
Min R2 for Linear Regression: 0.1496190159877382
Min MAPE for Linear Regression: 35.19783273884144


3743 936
Fold 4:
Min RMSE for Random Forest: 10.524783121971483
Min R2 for Random Forest: 0.18622054910190622
Min MAPE for Random Forest: 35.40970513547981

Min RMSE for Linear Regression: 14.37101304735325
Min R2 for Linear Regression: 0.15874076587501607
Min MAPE for Linear Regression: 35.413869282281766


3744 935
Fold 5: